.App{
  padding: 0px 20px;
  overflow: hidden;
}
.App-header{
  font-weight: bold;
  font-size: 40px;
  width: 60%;
  height: 60px;
  margin: auto;
  border: solid 3px #FCA801;
  align-self: center;
  text-align: center;
}
 .filter-button{
   padding: 10px;
   margin-top: 20px;
   text-align: center;
 }
 .action-btn{
   width: 100% !important;
}
.content{
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px ;
  padding: 20px;
  display: flex;
}
.content .movie-card{
  width: 100%;
  /* height: 600px; */
  margin-bottom: 10px;
  text-align: center;
}
.content .movie-card .item-img{
  /* height: 500px; */
}
